/* Search section */
.search-section {
  background-color: var(--blue);
  color: var(--white);
  padding: 30px 0 95px;
  font-weight: bold;
  text-align: center;
}

.search-section-not-found {
  padding-top: 95px;
}

.search-section h2 {
  font-size: 52px;
}

.search-section h3 {
  font-size: 24px;
  line-height: 29px;
  padding-top: 15px;
}

.search-section-notice {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--yellow);
  text-align: left;
}

.search-section-notice img {
  margin-right: 15px;
}

.search-section input {
  background: var(--white);
  border-radius: 3px;
  outline: none;
  border-width: 0;
  height: 70px;
  padding: 0 12px;
  flex: 1;
}

.search-form {
  padding: 29px 0 30px;
  display: flex;
  width: 100%;
}

.invalid {
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid var(--red) !important;
  border-radius: 3px 3px 3px 0 !important;
}

.search-section button {
  margin-left: 20px;
  height: 70px;
}

.search-section .error-message {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  padding: 1px 12px 4px 12px;
  background: var(--red);
  border-radius: 0 0 3px 3px;
  width: fit-content;
  font-weight: normal;
}

/* Result section */
.result-section {
  padding: 30px 0 60px;
  background: var(--light-white);
  text-align: center;
}

.result-section h2 {
  font-weight: bold;
  font-size: 52px;
  color: var(--blue);
}

.result-section p {
  font-size: 24px;
  color: var(--black);
  line-height: 32px;
  padding-top: 15px;
}

/* Result item */
.result-item {
  margin-top: 30px;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  background: var(--white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}

.result-item-circle img {
  width: 40px;
  height: 46px;
}

.person {
  font-size: 18px;
  color: var(--black);
  line-height: 26px;
}

.person-name {
  font-weight: bold;
  font-size: 32px;
  padding-bottom: 5px;
  color: var(--blue);
}

.person-caption {
  padding: 20px 0 5px;
  font-weight: bold;
  font-size: 22px;
  color: var(--blue);
}

.person-phone {
  display: block;
  color: var(--blue);
}

/* No result section */
.no-result-section {
  padding: 160px 0 187px;
}

/* Loading section */
.loading-section {
  padding: 300px 0 381px;
  text-align: center;
  background-color: var(--light-white);
}

.loading-section img {
  width: 154px;
  height: 154px;
  margin-bottom: 28px;
}

.loading-section h3 {
  font-weight: bold;
  font-size: 24px;
  color: var(--blue);
}

/* Tablet */
@media screen and (max-width: 768px) {
  .search-section {
    padding-bottom: 60px;
  }

  .search-section h2 {
    font-size: 48px;
  }

  .search-section h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .search-section-not-found {
    padding: 63px 0 106px;
  }

  .no-result-section p {
    text-align: center !important;
  }

  .result-section {
    padding: 30px 0 40px;
  }

  .result-section h2 {
    font-size: 48px;
  }

  .result-section p {
    font-size: 20px;
    color: var(--grey);
    line-height: 28px;
    text-align: left;
  }

  .result-item {
    padding: 30px;
  }

  .result-item-circle {
    margin-right: 10px;
  }

  .result-item-circle img {
    width: 28px;
    height: 32.2px;
  }

  .person {
    font-size: 16px;
    line-height: 24px;
  }

  .person-name {
    padding-bottom: 7px;
  }

  .person-caption {
    font-size: 20px;
  }

  .search-section .error-message {
    font-size: 14px;
  }

  .loading-section {
    padding: 100px 0 137px;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .search-section {
    padding: 10px 0 17px;
  }

  .search-section h2 {
    font-size: 38px;
  }

  .search-section h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .search-form,
  .search-form input,
  .search-form button {
    display: block;
    width: 100%;
  }

  .search-form {
    padding: 20px 0 18px;
    display: block;
    padding-left: 10px;
  }

  .search-form input,
  .search-form button {
    height: 50px;
  }

  .search-form input {
    font-size: 20px;
  }

  .search-form button {
    margin: 10px 0 0 0;
  }

  .search-section-notice {
    align-items: flex-start;
    padding-left: 10px;
  }

  .search-section-not-found {
    padding: 40px 0;
  }

  .search-section-not-found h3 {
    text-align: center;
  }

  .result-section {
    padding: 30px 0;
  }

  .result-section h2 {
    font-size: 38px;
  }

  .result-section p {
    font-size: 18px;
  }

  .no-result-section {
    padding: 92px 0 127px;
  }

  .result-item {
    padding: 25px 15px;
  }

  .result-item-circle {
    display: none;
  }

  .loading-section {
    padding: 60px 0 85px;
  }

  .loading-section img {
    width: 124px;
    height: 124px;
    margin-bottom: 16px;
  }
}
