.header {
  background-color: #004A80;
  padding: 20px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-content .icon-button:not(:last-of-type) {
  margin-right: 25px;
}
